<script>
jQuery(document).ready(function($) {

anno.makeAnnotatable(document.getElementById('something'));
anno.addHandler('onAnnotationCreated', function(annotation) {
    console.log(annotation.text);
    console.log(annotation.shapes[0].geometry.x);
    $.post( '/image_annotations.json', annotation );
});

$.getJSON( "/explore/list_anno?image_id=<%= @image.id %>", function( data ) {
  $.each( data, function( key, val ) {
    anno.addAnnotation(val);
  });
});

});
</script>

<%- model_class = ImageTest -%>
<div class="page-header">
  <span class="glyphicon glyphicon-info-sign"></span> Click and drag on image to annotate interesting features.
</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @image.image_annotations.count %> Annotations</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:image_time) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.image_time %>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:sol) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.sol %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:camera_type) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.camera_type %>
      </div>
    </div>
  </div>
</div>

<div class="row">
<div class="col-md-12">
  <div>
    <%= image_tag @image.url, :id => 'something' %>
  </div>
</div>
</div>
