<script>
jQuery(document).ready(function($) {

anno.makeAnnotatable(document.getElementById('something'));
anno.addHandler('onAnnotationCreated', function(annotation) {
    console.log(annotation.text);
    console.log(annotation.shapes[0].geometry.x);
    $.post( '/image_annotations.json', annotation );
});

$.getJSON( "/explore/list_anno?image_id=<%= @image.id %>", function( data ) {
  $.each( data, function( key, val ) {
    anno.addAnnotation(val);
  });
});

});

jQuery(document).keydown(function(e) {
	var currentImageId = <%= @image.id %>;
	
    switch(e.which) {
        case 37: // left
			var previousImageId = currentImageId - 1;
			window.location.href="/explore/" + previousImageId;
        break;
        case 39: // right
			var nextImageId = currentImageId + 1;
			window.location.href="/explore/" + nextImageId;
        break;
        default: return; // exit this handler for other keys
    }
    e.preventDefault(); // prevent the default action (scroll / move caret)
});
</script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=172047699584380&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<%- model_class = ImageTest -%>
<div class="page-header">
  <span class="glyphicon glyphicon-info-sign"></span> Click and drag on image to annotate interesting features.
</div>

<div class="row">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @image.image_annotations.count %> Annotations</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:image_time) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.image_time %>
      </div>
    </div>
  </div>
  <div class="col-md-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:sol) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.sol %>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= model_class.human_attribute_name(:camera_type) %></h3>
      </div>
      <div class="panel-body">
        <%= @image.camera_type %>
      </div>
    </div>
  </div>


  <%= link_to "http://twitter.com/home?status=NASA Mars Image #{request.original_url} %23v4mars" do %>
      <%= image_tag('twitter.png') %>
  <% end %>

  <div class="fb-like" data-href="<%= request.original_url %>" data-width="55px" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
</div>

<div class="row">
<div class="col-md-12">
  <div>
    <%= image_tag @image.url, :id => 'something' %>
  </div>
</div>
</div>
